<html>

    <head>
        <meta charset = 'UTF-8'>
        <title>환영합니다.</title>
    </head>

    <body>
        <!-- 단일 data를 넣을떄 -->
        <!-- <h1>{{name}}님 환영합니다.</h1> -->

        <!-- dict에 multi 데이터 넣어올 때 -->
        <!-- <h1>{{data.name}}님 환영합니다.</h1> -->
        <!-- <h1>{{data.age}}님 환영합니다.</h1> -->

        <!-- 사용자가 get요청으로 넘긴 data를 받아올때 -->
        <!-- 파이썬 템플릿엔진과 html 주석간의 선후 문제가 발생할 경우
             {# #}를 통해 템플렛 엔진 문법을 감싼다. -->
        <!-- <h1>이름은: {{data.name}}</h1> -->
        <!-- <h1>이메일은: {{data.email}}</h1> -->
        <!-- <h1>Password는 : {{data.password}}</h1> -->


    </body>

</html>